HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

**/src/test/**/integration/newman-report.json
**/src/test/**/integration/newman-report.htmlsrc/test/java/com/unicauca/edu/co/auxiliary_book/integration/newman-report.json
src/test/java/com/unicauca/edu/co/auxiliary_book/integration/newman-report*.json
src/test/java/com/unicauca/edu/co/auxiliary_book/integration/newman/
